* {
	/* Wildcard - applies to all */
}

/* Tags & Elements */

body {
	/* Applies to everything within <body> tag */
	background-color: #bdcdf2;
	font-style: normal;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 5%;
	margin-bottom: 5%;
}

/* IDs */
#id_todo_general {
	/* #<id> = ID */
	font-weight: bold;
}

#site-head {
	color: black;
}

/* Classes */
.todo-list .cs_todoList .footer_pagedetails {
	/* .<class> = Class */
	font-size: 0.5%;
}

.headers {
	/*
		All group headers (i.e. group 'about-me' : "About Me")
	*/
	font-weight: bold;
	font-style: italic;
	text-decoration: underline;
}

.blogposts {
	/* 
		- For each Post in the blog
		- Container Box seperator
	*/
	border-radius: 5%;
}

.article {
	/*
		- For each article in the blog post
	*/
}

.article-title {
	/*
		- For the title of the article
	*/
	font-weight: bold;
	text-decoration: underline;
}

.article-body {
	/*
		- For the body of the article in the blog post
	*/

}

.block {
	/*
		- To create a black border around each "group"
	*/
	border:1px solid blue;
	margin-top: 1%;
	margin-bottom: 1%;
	padding-left: 2%;
}

.flex-container {
	/*
		Create a flexbile display/container of the div
	*/
	display: flex;
	gap: 5px;
}

.fixed {
	width: 200px;
}

.flex-item {
	/*
		Allow div to fill the remaining width of the parent 
	*/
	flex-grow: 1;
}

.li-horizontal {
	display:inline;
	padding-right: 5%;
}