* {
	/* Wildcard - applies to all */
	font-style: italic;
}

body {
	/* Applies to everything within <body> tag */
	background-color: beige;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 5%;
	margin-bottom: 5%;
}


.todo-list .cs_todoList .footer_pagedetails {
	/* .<class> = Class */
	font-size: 0.5%;
}

#id_todo_general {
	/* #<id> = ID */
	font-weight: bold;
}

#site-head {
	color: black;
}

.headers {
	/*
		All group headers (i.e. group 'about-me' : "About Me")
	*/
	font-weight: bold;
	text-decoration: underline;
}

.blogposts {
	/* 
		Class
		- For each Post in the blog
		- Container Box seperator
	*/
	border-radius: 5%;
}

.article {
	/*
		Class
		- For each article in the blog post
	*/
}

.article-title {
	/*
		Class
		- For the title of the article
	*/
	font-weight: bold;
	text-decoration: underline;
}

.article-body {
	/*
		Class
		- For the body of the article in the blog post
	*/
	
}